@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}
.about-container {
    margin-top: 10%;
    text-align: center;
}
.about-container h1{
    font-size: 30px;
    margin-bottom: 1%;
    text-shadow: 1px 1px 5px #fda521;
}

h3{
    font-weight: normal;
}